<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Request to {{ username }}</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IESCP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home_sponsor/sponsor={{username}}" id = "home_sponsor_nav">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/find_sponsor/sponsor={{username}}" id = "find_sponsor_nav">Find</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistics_sponsor/sponsor={{username}}" id = "stats_sponsor_nav">Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = "/" id="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<nav>
    <a href="/home_sponsor/sponsor={{username}}" id = "home_sponsor_nav">Home</a>
    <a href="/find_sponsor/sponsor={{username}}" id = "find_sponsor_nav">Find</a>
    <a href="/statistics_sponsor/sponsor={{username}}" id = "stats_sponsor_nav">Statistics</a>
    <a href = "/" id="logout">Logout</a>
</nav>-->
<body>
  <div class="container mt-5 text-center">
    <h2>Influencer: {{ username }}</h2>
    <form method="POST" action="/new_ad_request/influencer={{username}}" id="data-form" class="mt-4">
      <div class="mb-3">
        <input type="text" name="adName" id="adName" placeholder="Ad Name" class="form-control" required />
      </div>
      <div class="mb-3">
        <input type="text" name="stipend" id="stipend" placeholder="Stipend" class="form-control" required />
      </div>
      <div class="mb-3">
        <input type="submit" value="Submit" class="btn btn-primary" />
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

<script type = "text/javascript">
    var value = sessionStorage.getItem("username");
    if(value == null || value == undefined)
    {
        window.location.href="/";
    }
    else
    {
        var sponsor = sessionStorage.getItem("username");
        document.getElementById("home_sponsor_nav").href = "/home_sponsor/sponsor=" + sponsor;
        document.getElementById("find_sponsor_nav").href = "/find_sponsor/sponsor=" + sponsor;
        document.getElementById("stats_sponsor_nav").href = "/statistics_sponsor/sponsor=" + sponsor;
        logout_req = document.getElementById("logout");
        logout_req.addEventListener("click", function(){
            sessionStorage.clear();
            window.location.href="/";
        });
        var campaignName = sessionStorage.getItem("campaignName");
        var influencer = window.location.href.split("influencer=")[1];
        document.getElementById("data-form").addEventListener("submit", function(event) {
            event.preventDefault();
            window.location.href= "/home_sponsor/sponsor=" + sponsor;
            var stipend = document.getElementById("stipend").value;
            var adName = document.getElementById("adName").value;
            var data = {
                sponsor: sponsor,
                campaignName: campaignName,
                influencer: influencer,
                stipend: stipend,
                adName: adName
            };
            var jsonData = JSON.stringify(data);
            fetch("/new_ad_request/influencer=" + influencer, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: jsonData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error(error);
            });
        });
    }
</script>
</html>